<div class="col-xs-2">
    <table class="table table-responsive table-condensed table-hover">
        <thead>
            <tr>
                <th>
                    Mesa {{ table }}
                </th>
            </tr>
        </thead>
        <tbody>
            {% for time_slot in day.time_slots %}
            <tr>
                <td>
                    <a class="btn btn-success btn-block"
                       href="{{ url_for('create_booking',
                                    year=day.date.year,
                                    month=day.date.month,
                                    day=day.date.day,
                                    time=time_slot.time_url_str,
                                    table=table.url_name) }}">
                        {{ time_slot }}
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>