{% extends "layout.html" %}
{% block body %}
    <div class="row">
        <div class="col-xs-4">
            <h3>
                Nueva reserva
            </h3>
            <form class="form-horizontal">
                <div class="form-group">
                    <div class="form-group">
                        <label class="col-xs-3 control-label">
                            Día:
                        </label>
                        <div class="col-xs-9">
                            <p class="form-control-static">
                                {{ time_slot.week_day }}
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 control-label">
                            Hora:
                        </label>
                        <div class="col-xs-9">
                            <p class="form-control-static">
                                {{ time_slot }}
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 control-label">
                            Mesa:
                        </label>
                        <div class="col-xs-9">
                            <p class="form-control-static">
                                {{ table }}
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 control-label" for="booking_booker_name">
                            Nombre:
                        </label>
                        <div class="col-xs-9">
                            <input class="form-control" type="text" id="booking_booker_name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 control-label" for="booking_booker_email">
                            Email:
                        </label>
                        <div class="col-xs-9">
                            <input class="form-control" type="email" id="booking_booker_email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 control-label" for="booking_notes">
                            Notas:
                        </label>
                        <div class="col-xs-9">
                            <textarea class="form-control" id="booking_notes">

                            </textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-offset-3 col-xs-4">
                            {% with day=time_slot.week_day %}
                                <a class="btn btn-default"
                                    href="{{ url_for('list_bookings',
                                            year=day.date.year,
                                            month=day.date.month,
                                            day=day.date.day)
                                        }}" >
                                    <span class="glyphicon glyphicon-arrow-left"></span>
                                    Cancelar
                                </a>
                            {% endwith %}
                        </div>
                        <div class="col-xs-offset-1 col-xs-4">
                            <button type="submit" class="btn btn-primary">
                                <span class="glyphicon glyphicon-ok"></span>
                                Reservar
                            </button>
                        </div>
                      </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}