{% extends "layout.html" %}
{% block body %}
    <div class="row">
        <div class="col-xs-12">
            <h4>
                Semana del {{ day.week.first_day }} al {{ day.week.last_day }}
            </h4>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
             {% include "includes/navigator.html" %}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h3>
              Día {{ day }}
            </h3>
        </div>
    </div>
    <div class="row">
        {% for table in ping_pong_tables %}
             {% include "includes/time_slots.html" %}
        {% endfor %}
    </div>
{% endblock %}
