{% extends "layout.html" %}
{% block body %}
    {% with day = view_data.day_data.day %}
    <div class="row">
        <div class="col-xs-12">
            <h4>
                Semana del {{ day.week.first_day }} al {{ day.week.last_day }}
            </h4>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
             {% include "includes/navigator.html" %}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h3>
              Día {{ day }}
            </h3>
        </div>
    </div>
    <div class="row">
        {% with ping_pong_tables_data = view_data.day_data.tennis_tables_data %}
        {% for ping_pong_table_data in ping_pong_tables_data %}
             {% include "includes/time_slots.html" %}
        {% endfor %}
        {% endwith %}
    </div>
    {% endwith %}
{% endblock %}
